# Visual Studio
.vs/

# Build results
bin/
obj/

# Rider / VS Code
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
/src/bidPursuit/appsettings.Production.json
